@charset 'UTF-8';

:root {
  --margin: 5px;
  --y-axis-page-align: flex-start;
  --x-axis-page-align: center;
  --align-text: left;

  /** Colors **/
  --color-accent-1: cornflowerblue;
  --color-accent-2: blue;
  --color-accent-3: lightblue;
  --color-accent-4: darkblue;

  --color-logo: blue;
  --color-text: #dddddd;
  --color-main-1: #222;
  --color-main-2: darkgrey;
  --color-main-3: lime;

  --background-color: transparent;
  --background-border-color: #1d1d1d;
  --border-bg-color: #222;

  --background: #111;

  /** Border **/
  --border-type: solid;
  --border-thickness: 0px;
  --border-radius: 0px;
  --border-color: #333;

  /* Scrollbar */
  --scrollbar-width: 5px;
  --scrollbar-track: #111;
  --scrollbar-handle: grey;

  /* Selection */
  --selection-background: lightblue;
  --selection-color: white;

  /* Sizes */
  /* Page Width */
  --max-width: 1300px;

  /* Fonts */
  --font-size: 100%;
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-header: 'Open Sans', sans-serif;
  --font-logo: 'Open Sans', sans-serif;
}

@media (max-width: 1200px) {
  .hide\:lg {
    display: none;
  }
}
@media (max-width: 992px) {
  .hide\:md {
    display: none;
  }
}
@media (max-width: 768px) {
  .hide\:sm {
    display: none;
  }
}
@media (max-width: 600px) {
  .hide\:xs {
    display: none;
  }
}

@import 'flair_tags.css';
@import 'anima.css';

/* Selection */
::selection {
  background: var(--selection-background, lightblue);
  color: var(--selection-color, white);
  text-shadow: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle);
}


/* Navbar */
.current-page {
  background-color: #555 !important;
}

/* Button */
.btn {
  color: var(--color-accent-1);
  background: var(--color-main-2);
  display: inline-block;
  margin: var(--margin);
  padding: 5px;
  flex: 1 1;
}
.btn:hover {
  filter: brightness(120%);
}

/* Colors */
.spotify {
  color: #1ed761;
}
.instagram {
  color: #55acee;
}
.black {
 color: black;
}
.white {
 color: white;
}
.whitesmoke {
 color: whitesmoke;
}
.dimgrey {
 color: dimgrey;
}
.blue {
  color: #55acee;
}
.purple {
  color: #6441a4;
}
.red {
  color: #f00;
}
.green {
  color: green;
}
.darkblue {
  color: #4078c0;
}
.orange {
  color: #f96854;
}

/*****************
 *  Button List  *
 *****************/

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
  font-size: 2em;
}
.button-list li {
  flex: 1 1;
  margin: 10px 0;
  padding: 30px;
  font-size: 1em;
  width: 100%;
  transition: color ease-in-out .2s;
  display: flex;
  justify-content: center;
}
.button-list a:hover {
  color: white;
}
.button-list a p {
  font-size: 1em;
  margin: 0;
}


/* Default */

.default {
  --body-padding:10px;
}
.default section {
  background: #00000050;
}
.default header {
  text-align: center;
}
.default body {
  padding: 0 10px
}
.default z-nav {
  background: #2c2c2c;
  border: 5px rgba(1,1,1,0.1) solid;
  margin-bottom: 10px;
}
.default z-nav a {
  background: var(--color-main-1);
  padding: 5px;
  margin: var(--margin)
}
.default z-nav a:hover {
  background: var(--color-main-2);
}

/* ##          ###    ##    ##  #######  ##     ## ########  ######
/* ##         ## ##    ##  ##  ##     ## ##     ##    ##    ##    ##
/* ##        ##   ##    ####   ##     ## ##     ##    ##    ##
/* ##       ##     ##    ##    ##     ## ##     ##    ##     ######
/* ##       #########    ##    ##     ## ##     ##    ##          ##
/* ##       ##     ##    ##    ##     ## ##     ##    ##    ##    ##
/* ######## ##     ##    ##     #######   #######     ##     ###### */

.use-layout main {
  align-self: flex-start;
}
.use-layout.single-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  grid-template-areas: "header" "nav" "main" "aside" "footer";
  place-items: center;
}
.use-layout.center {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas: "" ;
  place-items: center;
}
.use-layout.side-nav {
  display: grid;
  grid-template-areas: "header header"
                       "nav  main"
                       "nav  footer";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

/*  #######  ########        ## ########  ######  ########  ######
/* ##     ## ##     ##       ## ##       ##    ##    ##    ##    ##
/* ##     ## ##     ##       ## ##       ##          ##    ##
/* ##     ## ########        ## ######   ##          ##     ######
/* ##     ## ##     ## ##    ## ##       ##          ##          ##
/* ##     ## ##     ## ##    ## ##       ##    ##    ##    ##    ##
/*  #######  ########   ######  ########  ######     ##     ###### */


.bg {
  background: var(--border-bg-color);
}

.bdr {
  border: var(--border-thickness) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);
}

/* Padding */
.p\:0 {padding: 0;}
.p\:5 {padding: 5px;}
.p\:10 {padding: 10px}
.p\:20 {padding: 20px}

.p\:0\/10 {padding: 0 10px}
.p\:0\/20 {padding: 0 20px}

/* Left */
.pl\:5 {padding-left:5px}
.pl\:10 {padding-left:10px}
.pl\:20 {padding-left:20px}

/* Right */
.pr\:5 {padding-right:5px}
.pr\:10 {padding-right:10px}
.pr\:20 {padding-right:20px}

/* Bottom */
.pb\:5 {padding-bottom:5px}
.pb\:10 {padding-bottom:10px}
.pb\:20 {padding-bottom:20px}


/* Margin */
.m\:0 {margin: 0;}
.m\:10 {margin: 10px}
.m\:20 {margin: 20px}
.m\:0\/10 {margin: 0 10px}
.m\:0\/20 {margin: 0 20px}

.ml\:20 {margin-left:20px}
.mr\:20 {margin-right:20px}

/* Width */
.w\:100\% {width: 100%;}

/* Max-width */
.mw\:300 {max-width: 300px}
.mw\:400 {max-width: 400px}
.mw\:500 {max-width: 500px}
.mw\:600 {max-width: 600px}

/* Flex Group */
.flg\:200 > * {flex: 1 1 200px}
.flg\:300 > * {flex: 1 1 300px}
.flg\:400 > * {flex: 1 1 400px}

/* Flex Weights */
.fl\:20 {flex: 1 1 20%;}
.fl\:30 {flex: 1 1 30%;}
.fl\:40 {flex: 1 1 400px;}
.fl\:50 {flex: 1 1 50%;}
.fl\:60 {flex: 1 1 60%;}

/*** Pre-built Components ***/
/* Navbox */
.navbox .nav {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
}

.navbox .nav a {
  flex: 1 1 50px;
  padding: 5px 5px;
  margin: var(--margin);
  user-select: none;
  transition: background-color .1s;
  text-decoration: none;
  color: var(--secondary-color);
  border: var(--border-thickness) var(--border-type) var(--border-color);
  background: var(--border-bg-color);
  border-radius: var(--border-radius);
}

.navbox .nav a:hover {
  background-color: #444;
}

.navbox .nav a:active {
  background-color: #333;
}

/* ##     ##  #######  ########  #### ######## #### ######## ########   ######
/* ###   ### ##     ## ##     ##  ##  ##        ##  ##       ##     ## ##    ##
/* #### #### ##     ## ##     ##  ##  ##        ##  ##       ##     ## ##
/* ## ### ## ##     ## ##     ##  ##  ######    ##  ######   ########   ######
/* ##     ## ##     ## ##     ##  ##  ##        ##  ##       ##   ##         ##
/* ##     ## ##     ## ##     ##  ##  ##        ##  ##       ##    ##  ##    ##
/* ##     ##  #######  ########  #### ##       #### ######## ##     ##  ###### */

/* Flex Layout */
.block-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
}

/* Flex-flow */
.row {
  flex-flow: row wrap;
  display: flex;
}
.column {
  flex-flow: column wrap;
  display: flex;
}

/* Justify Content */
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.space-evenly {
  justify-content: space-evenly;
}

/* Logo */
header .logo {
  color: var(--color-logo);
  font-family: var(--font-logo);
  font-size: 3em;
  text-align: center;
  width: 100%;
}

/* Lightswitch */
.lightswitch-on {
  background: white;
  color: black;
}
.lightswitch-off {
  background: black;
  color: white;
}

/* Text Align */
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}

/* Hide */
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Filters */
.ph {
  filter: brightness(40%);
}
.blur {
  filter: blur(20%);
}
.invert {
  filter: invert();
}
