@charset 'UTF-8';
:root {
  --padding: 10px;
  --margin: 10px;

  --color-accent-1: cornflowerblue;
  --color-accent-2: rgba(171, 76, 239, 0.5);
  --color-accent-3: limegreen;
  --color-accent-4: limegreen;

  --color-main-1: #222;
  --color-main-2: darkgrey;
  --color-main-3: lime;

  --color-logo: #ee4c73;
  --color-text: #dddddd;

  --background: #663242;
  --max-width: 1300px;

  --font-size: 100%;
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-header: 'Open Sans', sans-serif;
  --font-logo: 'Pacifico', cursive;
}

.con {
  flex: 1 1;
}
