// COLOR

// Color Class Generator
@each $name, $hex in $color-types {

  .clr\:#{$name} {
    color: $hex;
  }

  .clr-bg\:#{$name} {
    background-color: $hex;
  }

}

// SOCIAL MEDIA

.instagram { color: #55acee; }
.spotify { color: #1ed761; }
