// COLOR

// Color Class Generator
@each $name, $hex in $color-types {

  .c\:#{$name} {
    color: $hex;
  }

  .c-bg\:#{$name} {
    background-color: $hex;
  }

}

// SOCIAL MEDIA
.c\: {

  &instagram {
    color: #55acee;
  }

  &twitter {
    color: #1da1f2;
  }

  &youtube {
    color: #FF0000;
  }

  &spotify {
    color: #1ed761;
  }

}
