// FLEX

// Flex Basis Groups
.flg-50 > * {flex-basis: 50px}
.flg-100 > * {flex-basis: 100px}
.flg-200 > * {flex-basis: 200px}
.flg-300 > * {flex-basis: 300px}
.flg-400 > * {flex-basis: 400px}
.flg-500 > * {flex-basis: 500px}
.flg-600 > * {flex-basis: 600px}

// Flex Basis
.fl-20 {flex-basis: 200px;}
.fl-30 {flex-basis: 300px;}
.fl-40 {flex-basis: 400px;}
.fl-50 {flex-basis: 500px;}
.fl-60 {flex-basis: 600px;}

@for $i from 1 through 20 {

  .c--fb\:#{$i*50} > * {
    flex-basis: #{$i*50}px;
  }

}

@for $i from 1 through 20 {

  .fb\:#{$i*50} {
    flex-basis: #{$i*50}px;
  }

}

// Flex-flow
.row {
  flex-flow: row wrap;
  display: flex;
}
.column {
  flex-flow: column wrap;
  display: flex;
}

// Flex Direction
.fd\:row {
  flex-direction: row;
}
.fd\:row_reverse {
  flex-direction: row-reverse;
}
.fd\:col {
  flex-direction: column;
}
.fd\:col_reverse {
  flex-direction: column-reverse;
}

// Flex Wrap
.fw\:wrap {
  flex-wrap: wrap;
}
.fw\:none {
  flex-wrap: nowrap;
}
.fw\:reverse {
  flex-wrap: wrap-reverse;
}

// Justify Content
.jc\:center {
  justify-content: center;
}
.jc\:space_between {
  justify-content: space-between;
}
.jc\:space_evenly {
  justify-content: space-evenly;
}
.jc\:space_around {
  justify-content: space-around;
}
.jc\:flex_end {
  justify-content: flex-end;
}
.jc\:flex_start {
  justify-content: flex-start;
}
