
.bg {
  background: var(--color-accent-2);
}

.bdr {
  border: var(--border-thickness) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);
}

// LOGO

header .logo {
  color: var(--color-logo);
  font-family: var(--font-logo);
  font-size: 3em;
  text-align: center;
  width: 100%;
}

// TABLE

.table-auto {
  table-layout: auto;
}
.table-fixed {
  table-layout: fixed;
}

// DISPLAY

@include display-classes($display-types, d);

.invisible {
  visibility: hidden;
}

.no-select, .ns {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}


// OVERFLOW

.overflow-auto, .of-auto {
  overflow: auto;
}
.overflow-hidden, .of-hidden {
  overflow: hidden;
}
.overflow-scroll, .of-scroll {
  overflow: scroll;
}
.overflow-visible, .of-visible {
  overflow: visible;
}
