
.bg {
  background: var(--color-accent-2);
}

.bdr {
  border: var(--border-thickness) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);
}

// LOGO

header .logo {
  color: var(--color-logo);
  font-family: var(--font-logo);
  font-size: var(--size-logo, 3em);
  text-align: center;
  width: 100%;
}

// Social Links
.social {
  display: flex;
  flex-flow: row wrap;
  font-size: 200%;
  justify-content: space-evenly;
  background: #151515;
  border: solid 5px #222222;

  a {
    margin: 10px;
    transition: color .2s;
    &:hover {
      color: white;
    }
  }
}

// DISPLAY

@include namespaced-classes(d, $display-types, display);

.invisible {
  visibility: hidden;
}

.no-select, .ns {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

// OVERFLOW

.of\: {

  &auto {
    overflow: auto;
  }

  &hidden {
    overflow: hidden;
  }

  &scroll {
    overflow: scroll;
  }

  &visible {
    overflow: visible;
  }

}
