//
                                          // WIDTH
//

/* Exact Widths */
@for $i from 1 through 10 {
  .w-#{$i * 50} {
    width: (5 * $i) * 1rem;
  }
}

/* Relative Widths */
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.w-quarter {
  width: 25%;
}

/* Max-width */
@for $i from 1 through 10 {
  .w-max-#{$i * 50} {
    max-width: (5 * $i) * 1rem;
  }
}

/* Min-width */
@for $i from 1 through 10 {
  .w-min-#{$i * 50} {
    min-width: (5 * $i) * 1rem;
  }
}

//
                                          // HEIGHT
//

/* Exact Heights */
@for $i from 1 through 10 {
  .h-#{$i * 50} {
    height: (5 * $i) * 1rem;
  }
}

/* Relative Heights */
.h-full {
  height: 100%;
}
.h-half {
  height: 50%;
}
.h-quarter {
  height: 25%;
}

/* Max-height */
@for $i from 1 through 10 {
  .h-max-#{$i * 50} {
    max-height: (5 * $i) * 1rem;
  }
}

/* Min-height */
@for $i from 1 through 10 {
  .h-min-#{$i * 50} {
    min-height: (5 * $i) * 1rem;
  }
}
