/* WIDTH */

/* Exact Widths */
@for $i from 1 through 10 {
  .w-#{$i * 50} {
    width: (5 * $i) * 1rem;
  }
}

/* Relative Widths */
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.w-quarter {
  width: 25%;
}

/* Max-width */
.w-max-50 {
  max-width: 50px
}
.w-max-100 {
  max-width: 100px
}
.w-max-200 {
  max-width: 200px
}
.w-max-300 {
  max-width: 300px
}
.w-max-400 {
  max-width: 400px
}
.w-max-500 {
  max-width: 500px
}
.w-max-600 {
  max-width: 600px
}
.w-max-700 {
  max-width: 700px
}
.w-max-800 {
  max-width: 800px
}
.w-max-900 {
  max-width: 900px
}

/* Min-width */
.w-min-50 {
  min-width: 50px
}
.w-min-100 {
  min-width: 100px
}
.w-min-200 {
  min-width: 200px
}
.w-min-300 {
  min-width: 300px
}
.w-min-400 {
  min-width: 400px
}
.w-min-500 {
  min-width: 500px
}
.w-min-600 {
  min-width: 600px
}
.w-min-700 {
  min-width: 700px
}
.w-min-800 {
  min-width: 800px
}
.w-min-900 {
  min-width: 900px
}

/* HEIGHT */

/* Exact Heights */
@for $i from 1 through 10 {
  .h-#{$i * 50} {
    height: (5 * $i) * 1rem;
  }
}

/* Relative Heights */
.h-full {
  height: 100%;
}
.h-half {
  height: 50%;
}
.h-quarter {
  height: 25%;
}

/* Max-height */
.h-max-50 {max-height: 50px}
.h-max-100 {max-height: 100px}
.h-max-200 {max-height: 200px}
.h-max-300 {max-height: 300px}
.h-max-400 {max-height: 400px}
.h-max-500 {max-height: 500px}
.h-max-600 {max-height: 600px}
.h-max-700 {max-height: 700px}
.h-max-800 {max-height: 800px}
.h-max-900 {max-height: 900px}

/* Min-height */
.h-min-50 {min-height: 50px}
.h-min-100 {min-height: 100px}
.h-min-200 {min-height: 200px}
.h-min-300 {min-height: 300px}
.h-min-400 {min-height: 400px}
.h-min-500 {min-height: 500px}
.h-min-600 {min-height: 600px}
.h-min-700 {min-height: 700px}
.h-min-800 {min-height: 800px}
.h-min-900 {min-height: 900px}
