// TEXT
// All classes made for manipulating the appearance of text

// Align Text
.tal, .t-left {
  text-align: left;
}
.tar, .t-right {
  text-align: right;
}
.tac, .t-center {
  text-align: center;
}
.taj, .t-justify {
  text-align: justify;
}

// Align only heading elements
.tac-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}
.tal-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
}
.tar-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: right;
  }
}

// Text Size
.ts-smaller {
  font-size: smaller;
}
.ts-larger {
  font-size: larger;
}
.ts-sm {
  font-size: .5rem;
}
.ts-md {
  font-size: 1.5rem;
}
.ts-lg {
  font-size: 3rem;
}
.ts-xl {
  font-size: 5rem;
}

// Text Weight
.tw-500 {
  font-weight: 500;
}
.tw-600 {
  font-weight: 600;
}
.tw-700 {
  font-weight: 700;
}

// Transform
.t-t\: {

  &uppercase {
    text-transform: uppercase;
  }

  &lowercase {
    text-transform: lowercase;
  }

  &capitalize {
    text-transform: capitalize;
  }

  &monospace {
    font-family: monospace;
  }

}

// Decoration
.t-d\: {

  &underline {
    text-decoration: underline;
  }

  &line_through {
    text-decoration: line-through;
  }

  &overline {
    text-decoration: overline;
  }

  &none {
    text-decoration: none;
  }

}

// Outline Text
.t-outline {
  --txt-outline-width: 1px;
  --txt-outline-color: black;
  -webkit-text-stroke-width: var(--tsw);
  -webkit-text-stroke-color: var(--tsc);
}
