// TEXT
// All classes made for manipulating the appearance of text

// Align only heading elements
.tac-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}
.tal-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
}
.tar-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: right;
  }
}

// TEXT CLASSES

.h-t-a\: {

  &center {
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
  }

  &left {
    h1, h2, h3, h4, h5, h6 {
      text-align: left;
    }
  }

  &right {
    h1, h2, h3, h4, h5, h6 {
      text-align: right;
    }
  }

  &justify {
    h1, h2, h3, h4, h5, h6 {
      text-align: justify;
    }
  }

}

.t-a\: {

  &left {
    text-align: left;
  }

  &right {
    text-align: right;
  }

  &center {
    text-align: center;
  }

  &justify {
    text-align: justify;
  }

}

// Text Size
.t-s\: {

  // Relative Sizes
  &smaller {
    font-size: smaller;
  }

  &larger {
    font-size: larger;
  }

  // Set Sizes
  &sm {
    font-size: .5rem;
  }

  &md {
    font-size: 1.5rem;
  }

  &lg {
    font-size: 3rem;
  }

  &xl {
    font-size: 5rem;
  }

  // Number Sizes
  @for $i from 1 through 9 {
    &#{$i} {
      font-size: $i + rem;
    }
  }

}

// Text Weight
.t-w\: {
  @for $i from 1 through 9 {
    &#{100 * $i} {
      font-weight: 100 * $i;
    }
  }
}


// Transform
.t-t\: {

  &uppercase {
    text-transform: uppercase;
  }

  &lowercase {
    text-transform: lowercase;
  }

  &capitalize {
    text-transform: capitalize;
  }

  &monospace {
    font-family: monospace;
  }

}

// Decoration
.t-d\: {

  &underline {
    text-decoration: underline;
  }

  &line_through {
    text-decoration: line-through;
  }

  &overline {
    text-decoration: overline;
  }

  &none {
    text-decoration: none;
  }

}

// Outline Text
.t-outline {
  --txt-outline-width: 1px;
  --txt-outline-color: black;
  -webkit-text-stroke-width: var(--tsw);
  -webkit-text-stroke-color: var(--tsc);
}
