// TEXT

// Align Text
.tal, .t-left {
  text-align: left;
}
.tar, .t-right {
  text-align: right;
}
.tac, .t-center {
  text-align: center;
}
.taj, .t-justify {
  text-align: justify;
}

// Align only heading elements
.tac-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}
.tal-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
}
.tar-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: right;
  }
}

// Text Size
.ts-smaller {
  font-size: smaller;
}
.ts-larger {
  font-size: larger;
}

// Text Weight
.tw-500 {
  font-weight: 500;
}
.tw-600 {
  font-weight: 600;
}
.tw-700 {
  font-weight: 700;
}

// Transform
.ttu, .t-uppercase {
  text-transform: uppercase;
}
.ttl, .t-lowercase {
  text-transform: lowercase;
}
.ttc, .t-capitalise, .t-capitalize {
  text-transform: capitalize;
}
.t-monospace {
  font-family: monospace;
}

/* Decoration */
.tdu, .underline {
  text-decoration: underline;
}
.tdlt, .line-through {
  text-decoration: line-through;
}
.tdo, .overline {
  text-decoration: overline;
}
.tdn {
  text-decoration: none;
}

// Outline Text
.t-outline {
  --txt-outline-width: 1px;
  --txt-outline-color: black;
  -webkit-text-stroke-width: var(--tsw);
  -webkit-text-stroke-color: var(--tsc);
}
