s-button {
	color: var();
	background: var();

	border: var(--border-thickness) var(--border-type) var(--border-color);
	border-radius: var(--border-radius);

	margin: var();
	padding: var();
	display: inline-block;
	flex: 1 1;

	&:hover {
		filter: brightness(150%);
	}

	&.large {
		width: 1.5rem;
		height: 1.25rem;
	}

	&.small {
		width: 0.5rem;
		height: 0.25rem;
	}

	&.square {
		width: 20px;
		height: 20px;
	}
}
