s-card {
	display: block;
	padding: var(--card-padding);
	margin: calc(1rem * var(--s-global-margin-multi));
	max-width: 300px;
	background: hsla(0, 0%, 0%, 0.314);
	img {
		width: 100%;
		height: auto;
		&.padded {
			margin: 1em 0;
			padding: 0 1em;
		}
	}
	p {
		margin: 1em;
	}
}
