// ELEMENTS

html {
  width: 100%;
  height: 100%;

  background: black;
  font-size: var(--font-size);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// Box sizing fix
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: normal;
  min-height: 100vh;

  /* Apply Base Font */
  font-family: var(--font-primary);
  color: var(--color-text);
  background: var(--background, white);

  /* Flex */
  display: flex;
  flex-flow: column;
  margin: auto;

  /* Page Alignment */
  text-align: var(--align-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}
/* Fix for h1 having a different size within section elements */
h1 {
  font-size: 2em;
}


/* Links */
a {
  text-decoration: none;
  color: var(--color-accent-1);
  transition: color .2s;
}
a:hover {
  filter: brightness(150%);
}


/* SEMANTIC TAGS */
header {
  grid-area: hd;
  display: flex;
  order: 1;
  align-content: center;
  align-items: center;
  width:100%;
}
nav {
  grid-area: nv;
  order: 2;
  width: 100%;
}
main {
  grid-area: mn;
  display: flex;
  order: 3;
  flex-flow: column wrap;
  width: 100%;
}
aside {
  order: 4;
  grid-area: sd;
}
footer {
  grid-area: ft;
  align-content: center;
  text-align: center;
  order: 5;
  display: flex;
  flex-flow: column;
  width: 100%;
}


/* Section */
section {
  /* Flex */
  display: flex;
  flex-flow: column;
  flex: 1 1;
}

/* Image Styling */
section img {
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  height: auto;
}

/* Social Links */
footer .social {
  display: flex;
  flex-flow: row wrap;
  font-size: 200%;
  justify-content: space-evenly;
  background: #151515;
  border: solid 5px #222222;
}
footer .social a {
  margin: 10px;
  transition: color .2s;
}
footer .social a:hover {
  color: white;
}

pre {
  background: rgba(0,0,0,.2);
}

option {
  background: var(--color-accent-2)
}


/* table, th, td {
  text-align: center;
  border: 1px solid var(--border-color);
} */

thead {
  text-align: left;
  font-family: var(--font-header);
  filter: brightness(80%);
}

/* tr:nth-child(even) {
  filter: brightness(120%);
} */


table tr {
  padding: .2em;
}

table th,
table td {
  padding: .15em;
  text-align: center;
}

table th {
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: .85em;
}

/* Forms */
button, input, select, textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: no-repeat right center / 1em;
  border-radius: 0;
  padding-right: 1em;
}
select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
}
::-ms-expand {
  display: none;
}

/* Horizontal Rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #ccc;
  margin: 1em 0;
  padding: 0;

  &.big {
    border-top: 5px;
  }

  &.small {
    border-top: 1px;
  }

  &.dashed {
    border-top: dashed;
  }
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;

  a {
    flex: 1 0 50px;
    transition: background-color .1s;
    cursor: pointer;

    &:hover {
      background-color: #0000001f;
    }

    &:active {
      background-color: #333;
    }
  }
}

/* Navbar */
z-nav {
  margin: 5px;

  a {
    background: #00000050;
    border: 1px solid rgba(1,1,1,.3);
    border-left: 0;
    padding: 10px;
    margin:0;

    &:first-of-type {
      border-left: 1px solid rgba(1,1,1,.3);
    }

    &:hover {
      background: var(--color-main-2);
    }
  }
}


ul {
  &.minimal {
    padding: 0;
    list-style: none;
  }
}

code {
  background: rgba(1,1,1,.2);
  padding: 2px 5px;
}
/* Removing code element styling when it's inside of a pre element */
pre code {
  background: 0;
  padding: 0;
}
