// Selection Styling
// This style allows you to change how it looks when you select text
::selection {
  background: var(--selection-background, lightblue);
  color: var(--selection-color, white);
  text-shadow: none;
}

// Scrollbar Styling
// These styles allow you to change how the scrollbar and track look
// I've tied custom variables to them so they can be easily altered in the custom CSS variables file
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle);
}
