/* Selection */
::selection {
  background: var(--selection-background, lightblue);
  color: var(--selection-color, white);
  text-shadow: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle);
}

/* Navbar */
.current-page {
  filter: brightness(80%) !important;
}
