// Alert

g-alert {
  padding: var(--alert-padding);
  margin: var(--alert-margin);

  border-width: 2px;
  border-style: solid;

  &[type="error"] {
    background: #d23f3f;
    border-color: #e72121;
  }

  &[type="warning"] {
    background: #d2b23f;
    border-color: #e7b521;
  }

  &[type="info"] {
    background: #3fa6d2;
    border-color: #21a0e7;
  }

  &[type="success"] {
    background: #4bd23f;
    border-color: #49e721;
  }

}
