// Button

.btn, .button {
  color: var(--color-accent-1);
  background: var(--color-main-2);

  border: var(--border-thickness) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);

  margin: var(--margin);
  padding: var(--padding);
  display: inline-block;
  flex: 1 1;

  &:hover {
    filter: brightness(150%);
  }

  &.lg {
    width: 1.5rem;
    height: 1.25rem;
  }

  &.sm {
    width: .5rem;
    height: .25rem;
  }

  &.square {
    width: 20px;
    height: 20px;
  }
}
