// Container

.con, .container {
  border: var(--border-thickness) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);
  background: #00000050;

  padding: 20px;
  margin: 5px;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
