@use "../0-core" as *;

:root {
	// TOP LEVEL VARIABLES
	--s-base: 1rem;

	// SIZING VARIABLES
	// Margin and Padding variables for giving an even size across site

	// MULTIPLIERS
	--s-global-size-multi: 1.5;
	--s-global-shade-multi: 1.5;
	--s-global-margin-multi: 1;
	--s-global-padding-multi: 1;
	--align-text: left;

	@include size-variables;

	// DEFAULT THEME VARIABLES
	// These are the custom variables that the can be changed to alter the overall look of your site
	// With these variables you can change the overall look of your website

	// GLOBAL COLOR VARIABLES
	// Set the colours used for all elements on your site

	@include color-variables(primary, 220, 30%, 50%);
	@include color-variables(secondary, 160, 20%, 50%);
	@include color-variables(tertiary, 260, 20%, 50%);

	@include color-variables(base_1, 20, 2%, 22%);
	@include color-variables(base_2, 160, 20%, 50%);
	@include color-variables(base_3, 20, 10%, 80%);

	@include color-variables(error, 4, 63%, 46%);
	@include color-variables(warning, 47, 80%, 56%);
	@include color-variables(success, 114, 54%, 47%);
	@include color-variables(info, 215, 54%, 47%);

	--s-text_color: var(--s-base_3-darker);
	--s-color-body_background: var(--s-base_1-standard);

	// BORDER
	--border-type: solid;
	--border-thickness: 1px;
	--border-radius: 0px;
	--border-color: rgba(1, 1, 1, 0.3);

	--s-box-border-width: 1px;
	--s-box-border-style: solid;
	--s-box-border-color: var(--s-base_1-lightest);

	// SCROLLBAR VARIABLES
	--s-scrollbar-width: 5px;
	--s-scrollbar-track: #111;
	--s-scrollbar-handle: grey;

	// SELECTION VARIABLES
	--s-selection-background: rgb(63, 63, 63);
	--s-selection-color: rgb(209, 209, 209);

	--s-accent-color: blue;

	// LAYOUT VARIABLES
	// These variables are used for the layout module to make overal customisations to your layout

	--s-layout-gap: 0.7em;
	--s-layout-max-width: 200ch;
	--s-layout-columns: 2;
	--s-layout-rows: 1;
	--s-layout-column_1-width: 350px;
	--s-layout-column_2-width: 90ch;
	--max-width: 85ch;

	// FONT VARIABLES
	// These variables allow you to change the overall font size of your site or the style of fonts your site uses
	--s-fluid_font-min: 0.95rem;
	--s-fluid_font-scaling: 0.95rem + 0.25vw;
	--s-fluid_font-max: 1.25rem;
	--s-fluid_font-size: clamp(var(--s-fluid_font-min), var(--s-fluid_font-scaling), var(--s-fluid_font-max));

	--s-primary_font: "Verdana", sans-serif;
	--s-secondary_font: "Verdana", sans-serif;
	--s-header_font: "Verdana", sans-serif;
	--s-f-logo: "Verdana", sans-serif;

	// COMPONENT VARIABLES
	// These variables are for altering the default settings of components

	// BUTTONS
	--button-border: 1px solid rgba(1, 1, 1, 0.3);
	--button-padding: 5px;
	--button-margin: 5px;

	// CONTAINERS
	--container-border: 1px solid rgba(1, 1, 1, 0.3);
	--container-padding: 20px;
	--container-margin: 5px;

	// CARD
	--card-border: 1px solid rgba(1, 1, 1, 0.3);
	--card-padding: 5px;
	--card-margin: 5px;

	// ALERTS
	--alert-border: 1px solid;
	--alert-padding: 10px;
	--alert-margin: 5px;

	// MISCELLANEOUS
	--s-header_align: left;
}
