@use "../0-core" as *;

:root {
	// DESIGN TOKENS
	// FONT SIZE
	--S-FONTSIZE-1XS: 0.625rem;
	--S-FONTSIZE-XS: 0.75rem;
	--S-FONTSIZE-S: 0.875rem;
	--S-FONTSIZE-R: 1rem;
	--S-FONTSIZE-L: 1.25rem;
	--S-FONTSIZE-XL: 1.5rem;
	--S-FONTSIZE-2XL: 2.25rem;
	--S-FONTSIZE-3XL: 3rem;
	--S-FONTSIZE-4XL: 4.5rem;

	// BASE VARIABLES
	// These are base variables for use in themes, they should not be edited

	// SIZING VARIABLES
	// Margin and Padding variables for giving an even size across site

	--s-global-margin-multi: 1;
	--s-global-padding-multi: 5px;
	--padding: 5px;
	--align-text: left;

	// DEFAULT THEME VARIABLES
	// These are the custom variables that the can be changed to alter the overall look of your site
	// With these variables you can change the overall look of your website

	// GLOBAL COLOR VARIABLES
	// Set the colours used for all elements on your site

	--s-background: #303030;

	--s-color-brand-h: 320;
	--s-color-brand-s: 40%;
	--s-color-brand-l: 60%;

  @include color-variables(primary, $variable-shades);

	--s-color-main-1: #222;
	--s-color-main-2: #222;
	--s-color-main-3: #222;

	--s-color-accent-1: cornflowerblue;
	--s-color-accent-2: blue;
	--s-color-accent-3: rgb(141, 174, 185);

	--s-color-logo: #e7e7e7;
	--s-color-text: #dddddd;

	--s-color-error: #d03030;
	--s-color-warning: #d09c30;
	--s-color-success: #33d030;
	--s-color-info: #3072d0;

	// BORDER
	--border-type: solid;
	--border-thickness: 1px;
	--border-radius: 0px;
	--border-color: rgba(1, 1, 1, 0.3);

	// SCROLLBAR VARIABLES
	--s-scrollbar-width: 5px;
	--s-scrollbar-track: #111;
	--s-scrollbar-handle: grey;

	//

	--s-accent-color: ;

	// SELECTION VARIABLES
	--selection-background: lightblue;
	--selection-color: white;

	// LAYOUT VARIABLES
	// These variables are used for the layout module to make overal customisations to your layout

	--s-layout-gap: 5px;
	--s-layout-max-width: 1100px;
	--max-width: 85ch;

	// FONT VARIABLES
	// These variables allow you to change the overall font size of your site or the style of fonts your site uses

	--s-font-size: var(--s-font-size-medium);

	--s-font-primary: "Verdana", sans-serif;
	--s-font-secondary: "Verdana", sans-serif;
	--s-font-header: "Verdana", sans-serif;
	--s-font-logo: "Verdana", sans-serif;

	// COMPONENT VARIABLES
	// These variables are for altering the default settings of components

	// BUTTONS
	--button-border: 1px solid rgba(1, 1, 1, 0.3);
	--button-padding: 5px;
	--button-margin: 5px;

	// CONTAINERS
	--container-border: 1px solid rgba(1, 1, 1, 0.3);
	--container-padding: 20px;
	--container-margin: 5px;

	// CARD
	--card-border: 1px solid rgba(1, 1, 1, 0.3);
	--card-padding: 5px;
	--card-margin: 5px;

	// ALERTS
	--alert-border: 1px solid;
	--alert-padding: 10px;
	--alert-margin: 5px;
}
