// Selection Styling
// This style allows you to change how it looks when you select text
::selection {
	background: var(--s-selection-background, rgb(68, 62, 165));
	color: var(--s-selection-color, white);
	text-shadow: none;
}

// Scrollbar Styling
// These styles allow you to change how the scrollbar and track look
// I've tied custom variables to them so they can be easily altered in the custom CSS variables file
::-webkit-scrollbar {
	width: var(--s-scrollbar-width);
}
::-webkit-scrollbar-track {
	background: var(--s-scrollbar-track);
}
::-webkit-scrollbar-thumb {
	background: var(--s-scrollbar-handle);
}
