@use "../0-core" as *;

[anim] {
	animation-name: none;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
}

// Names
@include attr-classes("anim^", $anim-name-types, animation-name);

// Timing
@include attr-classes("anim~", $anim-timing-types, animation-timing-function);

// Direction
@include attr-classes("anim~", $anim-direction-types, animation-direction);

@for $i from 1 through 10 {
	// Durations
	// This class sets the length of the animation
	[anim~="dur:#{$i*0.5}"] {
		animation-duration: #{$i * 0.5}s;
	}

	// Delays
	// This class adds a delay before the animation plays
	[anim~="del:#{$i*0.5}"] {
		animation-delay: #{$i * 0.5}s;
	}

	// Iteration
	// This class controls how many times and animation plays
	[anim~="rpt:#{$i}"] {
		animation-iteration-count: #{$i};
	}
}

[anim~="rpt:inf"] {
	animation-iteration-count: infinite;
}

// Animation Keyframes

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@keyframes fade_in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes blink {
	0% {
		visibility: visible;
	}

	50% {
		visibility: hidden;
	}
}

@keyframes rainbow {
	0% {
		color: orange;
	}

	20% {
		color: red;
	}

	40% {
		color: yellow;
	}

	60% {
		color: green;
	}

	80% {
		color: DeepPink;
	}

	100% {
		color: orange;
	}
}

@-webkit-keyframes slide_in_bottom {
	from {
		transform: translateY(20px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide_in_bottom {
	from {
		transform: translateY(20px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes slide_in_top {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide_in_top {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide_in_back {
	from {
		transform: scale(0.8);
		opacity: 0;
	}

	to {
		transform: translateY(1);
		opacity: 1;
	}
}

@keyframes rotate_right_360 {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes rotate_left_360 {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
	}
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-100%, 0);
	}
}

@keyframes dance {
	0% {
		transform: scaleX(1) translate(0, 0px);
	}

	1% {
		transform: scaleX(-1) translate(0, 20px);
	}

	40% {
		transform: scaleX(-1) translate(0, 20px);
	}

	41% {
		transform: scaleX(1) translate(0, 0px);
	}

	80% {
		transform: scaleX(1) translate(0, 0px);
	}

	81% {
		transform: scaleX(1) translate(0, 20px);
	}

	100% {
		transform: scaleX(1) translate(0, 20px);
	}
}

.marquee {
	background-color: black;
	color: lime;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
}

.marquee div {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 10s linear infinite;
}
