@use "../0-utility"as *;

// FLEX

@for $i from 1 through 20 {

  // Flex Basis
  .c--fb\:#{$i*50} > * {
    flex-basis: #{$i*50}px;
  }

  // Flex Basis Groups
  .fb\:#{$i*50} {
    flex-basis: #{$i*50}px;
  }

}

// Flex Direction

.fd\: {

  &row {
    flex-direction: row;
  }

  &row_r {
    flex-direction: row-reverse;
  }

  &col {
    flex-direction: column;
  }

  &col_r {
    flex-direction: column-reverse;
  }

}

// Flex Wrap

.fw\: {

  &wrap {
    flex-wrap: wrap;
  }

  &none {
    flex-wrap: nowrap;
  }

  &reverse {
    flex-wrap: wrap-reverse;
  }

}


// Justify Content

@each $name in $spacing-types {
  .jc\:#{$name} {
    justify-content: $name;
  }
}

// Align Content

@each $name in $spacing-types {
  .ac\:#{$name} {
    align-content: $name;
  }
}
