@use "../0-core" as *;

// FLEX

[class*="responsive-"] {
	display: flex;
	flex-wrap: wrap;
}

.responsive- {
	&row {
		flex-direction: row;
		gap: var(--s-spacing-gap, 1em);
		margin-top: var(--s-spacing-gap, 1em);
		margin-bottom: var(--s-spacing-gap, 1em);
	}
	&column {
		flex-direction: column;
		gap: var(--s-spacing-gap, 1em);
		margin-top: var(--s-spacing-gap, 1em);
		margin-bottom: var(--s-spacing-gap, 1em);
	}
}

@for $i from 1 through 20 {
	// Flex Basis
	.c--fb\:#{$i*50} > * {
		flex-basis: #{$i * 50}px;
	}

	// Flex Basis Groups
	.fb\:#{$i*50} {
		flex-basis: #{$i * 50}px;
	}
}
