@use "../0-core" as *;

// FLEX

[class*="responsive-"] {
	display: flex;
	flex-wrap: wrap;
}

.responsive- {
	&row {
		flex-direction: row;
		gap: var(--s-spacing-gap, 1em);
		margin-top: var(--s-spacing-gap, 1em);
		margin-bottom: var(--s-spacing-gap, 1em);
	}
	&column {
		flex-direction: column;
		gap: var(--s-spacing-gap, 1em);
		margin-top: var(--s-spacing-gap, 1em);
		margin-bottom: var(--s-spacing-gap, 1em);
	}
}

@for $i from 1 through 20 {
	// Flex Basis
	.c--fb\:#{$i*50} > * {
		flex-basis: #{$i * 50}px;
	}

	// Flex Basis Groups
	.fb\:#{$i*50} {
		flex-basis: #{$i * 50}px;
	}
}

.group {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: 2em;
	& > * {
		flex: 1 1 auto;
		flex: content;
		margin: 0;
	}
}

[class*="grid-"] {
	display: grid;
}

.grid-group {
	grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
}

