.group {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: 2em;
	& > * {
		flex: 1 1 auto;
		flex: content;
		margin: 0;
	}
}

[class*="grid-"] {
	display: grid;
}

.grid-group {
	grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
}
