// WIDTH

.w- {

  // Relative Widths

  &full {
    width: 100%;
  }

  &half {
    width: 50%;
  }

  &quarter {
    width: 33%;
  }

  &tenth {
    width: 10%;
  }

  // Exact Widths

  @for $i from 1 through 10 {
    &#{$i * 50} {
      width: (5 * $i) * 1rem;
    }
  }

  @for $i from 1 through 10 {
    &max-#{$i * 50} {
      max-width: (5 * $i) * 1rem;
    }
  }

  @for $i from 1 through 10 {
    &min-#{$i * 50} {
      min-width: (5 * $i) * 1rem;
    }
  }

}

// HEIGHT

.h- {

  // Relative Heights

  &full {
    height: 100%;
  }

  &half {
    height: 50%;
  }

  &quarter {
    height: 33%;
  }

  &tenth {
    height: 10%;
  }

  // Exact Heights

  @for $i from 1 through 10 {
    &#{$i * 50} {
      height: (5 * $i) * 1rem;
    }
  }

  @for $i from 1 through 10 {
    &max-#{$i * 50} {
      max-height: (5 * $i) * 1rem;
    }
  }

  @for $i from 1 through 10 {
    &min-#{$i * 50} {
      min-height: (5 * $i) * 1rem;
    }
  }

}
