@use "../0-core" as *;

.p {
	padding: var(--s-padding);
}

.p\:0 {
	padding: 0;
}

.m {
	margin: var(--margin);
}

.m\:0 {
	margin: 0;
}

@for $i from 1 through 5 {
	/// PADDING
	//  X AND Y AXIS
	.p\:#{$i} {
		padding-inline: var(--s-size-#{$i});
		padding-block: var(--s-size-#{$i});
	}

	// X AXIS
	.px\:#{$i} {
		padding-inline: var(--s-size-#{$i});
	}

	// Y AXIS
	.py\:#{$i} {
		padding-block: var(--s-size-#{$i});
	}

	/// MARGIN
	//  X AND Y AXIS
	.m\:#{$i} {
		margin-inline: var(--s-size-#{$i});
		margin-block: var(--s-size-#{$i});
	}

	// X AXIS
	.mx\:#{$i} {
		margin-inline: var(--s-size-#{$i});
	}

	// Y AXIS
	.my\:#{$i} {
		margin-block: var(--s-size-#{$i});
	}
}

@include repeat-unit-classes-map($padding-types, 0, 10, px, 5);

@include repeat-unit-classes-map($margin-types, 0, 10, px, 5);
