// TEXT
// All classes made for manipulating the appearance of text

// Align only heading elements
.tac-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}
.tal-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
}
.tar-h {
  h1, h2, h3, h4, h5, h6 {
    text-align: right;
  }
}

// TEXT CLASSES

.h-t-a\: {

  &center {
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
  }

  &left {
    h1, h2, h3, h4, h5, h6 {
      text-align: left;
    }
  }

  &right {
    h1, h2, h3, h4, h5, h6 {
      text-align: right;
    }
  }

  &justify {
    h1, h2, h3, h4, h5, h6 {
      text-align: justify;
    }
  }

}

// TEXT NAMESPACE

.t- {

  &a\: {

    &left {
      text-align: left;
    }

    &right {
      text-align: right;
    }

    &center {
      text-align: center;
    }

    &justify {
      text-align: justify;
    }




@for $i from 1 through 9 {

  // Text Weight
  .t-w\:#{100 * $i} {
    font-weight: 100 * $i;
  }

  // Numerical Text Sizes
  .t-s\:#{$i} {
    font-size: $i + rem;
  }

}
