//  :root {
//   --anim-name: none;
//   --anim-duration: 1s;
//   --anim-timing-function: ease;
//   --anim-delay: 0.1s;
//   --anim-iteration-count: 1;
// }

[anim] {
  animation-name: none;
  animation-duration: 0s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

// Names

@include anim-name-classes($anim-name-types, animation-name);

// Timing

@include anim-classes($anim-timing-types, animation-timing-function);

// Direction

@include anim-classes($anim-direction-types, animation-direction);

// Durations

[anim~="dur:.5s"] {
  animation-duration: .5s;
}

[anim~="dur:1s"] {
  animation-duration: 1s;
}

[anim~="dur:2s"] {
  animation-duration: 2s;
}

[anim~="dur:3s"] {
  animation-duration: 3s;
}

[anim~="dur:4s"] {
  animation-duration: 4s;
}

/* Delays */
[anim~="del:.5s"] {
  animation-delay: .5s;
}

[anim~="del:1s"] {
  animation-delay: 1s;
}

[anim~="del:2s"] {
  animation-delay: 2s;
}

[anim~="del:3s"] {
  animation-delay: 3s;
}

[anim~="del:4s"] {
  animation-delay: 4s;
}

// Iteration

[anim~='play:1'] {
  animation-iteration-count: 1;
}

[anim~='play:2'] {
  animation-iteration-count: 2;
}

[anim~='play:3'] {
  animation-iteration-count: 3;
}

[anim~='play:4'] {
  animation-iteration-count: 4;
}

[anim~='infinite'] {
  animation-iteration-count: infinite;
}
