[anim] {
  animation-name: none;
  animation-duration: 0s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

// Names

@include anim-name-classes($anim-name-types, animation-name);

// Timing

@include anim-classes($anim-timing-types, animation-timing-function);

// Direction

@include anim-classes($anim-direction-types, animation-direction);


@for $i from 1 through 10 {

  // Durations
  // This class sets the length of the animation
  [anim~="dur:#{$i*0.5}"] {
    animation-duration: #{$i*0.5}s;
  }

  // Delays
  // This class adds a delay before the animation plays
  [anim~="del:#{$i*0.5}"] {
    animation-delay: #{$i*0.5}s;
  }

  // Iteration
  // This class controls how many times and animation plays
  [anim~="rpt:#{$i}"] {
    animation-iteration-count: #{$i};
  }

}

[anim~="rpt:inf"] {
  animation-iteration-count: infinite;
}
