// ANIMATION VARIABLES

$anim-name-types:
rainbow,
blink,
fade_in,
shake,
rotate_right_360,
rotate_left_360,
slide_in_back,
slide_in_top,
slide_in_bottom,
slide_in_left,
slide_in_right,
marquee,
dance,;

$anim-timing-types: linear, ease, ease-in, ease-out, ease-in-out;

$anim-direction-types: normal, reverse, alternate, alternate-reverse;
