// CSS Variables
:root {

  //// GLOBAL VARIABLES
  // These are the custom variables that the can be changed to alter the overall look of your site
  // With these variables you can change the overall look of your website

  // SIZING VARIABLES
  // Margin and Padding variables for giving an even size across site

  --xs: .25em;
  --sm: .5em;
  --md: 1em;
  --lg: 2em;
  --xl: 4em;

  --margin: 5px;
  --padding: 5px;
  --align-text: left;


  // COLOR VARIABLES
  // Set the colours used for all elements on your site

  --color-accent-1: cornflowerblue;
  --color-accent-2: blue;
  --color-accent-3: lightblue;
  --color-accent-4: darkblue;
  --color-accent-5: darkblue;

  --color-main-1: #222;
  --color-main-2: darkgrey;
  --color-main-3: lime;

  --color-logo: blue;
  --color-text: #dddddd;

  --s-color-error: #d03030;
  --s-color-warning: #d09c30;
  --s-color-success: #33d030;
  --s-color-info: #3072d0;

  --background: #111;


  // BORDER
  --border-type: solid;
  --border-thickness: 1px;
  --border-radius: 0px;
  --border-color: rgba(1,1,1,.3);

  // SCROLLBAR VARIABLES
  --scrollbar-width: 5px;
  --scrollbar-track: #111;
  --scrollbar-handle: grey;

  // SELECTION VARIABLES
  --selection-background: lightblue;
  --selection-color: white;

  //// LAYOUT VARIABLES
  // These variables are used for the layout module to make overal customisations to your layout

  --layout-grid-gap: 5px;
  --layout-max-width: 1300px;
  --max-width: 1300px;


  // FONT VARIABLES
  // These variables allow you to change the overall font size of your site or the style of fonts your site uses

  --font-size: var(--md);
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --font-header: 'Open Sans', sans-serif;
  --font-logo: 'Open Sans', sans-serif;


  //// COMPONENT VARIABLES
  // These variables are for altering the default settings of components

  // BUTTONS
  --button-border: 1px solid rgba(1,1,1,.3);
  --button-padding: 5px;
  --button-margin: 5px;

  // CONTAINERS
  --container-border: 1px solid rgba(1,1,1,.3);
  --container-padding: 20px;
  --container-margin: 5px;

  // CARD
  --card-border: 1px solid rgba(1,1,1,.3);
  --card-padding: 5px;
  --card-margin: 5px;

  // ALERTS
  --alert-border: 1px solid;
  --alert-padding: 10px;
  --alert-margin: 5px;
}
