// SCSS VARIABLES

$l: left;
$r: right;
$t: top;
$b: bottom;
$pad: padding;
$mar: margin;
$w: width;
$h: height;

// GENERATOR MAPS

$padding-types: $pad $l, $pad $r, $pad $t, $pad $b;

$margin-types: $mar $l, $mar $r, $mar $t, $mar $b;

$color-types: (
"aquamarine": #84FFC7,
"apple": #4EA334,
"white": #111111,
"black": #000000,
"red": red,
"blue": blue,
"dark_blue": #4078C0,
"pink": pink,
"gray": #8F8F8F,
"green": green,
"pink_flamingo": #FF5BF6,
"cranberry": #D8498A,
"salmon": #FF926B,
"jade": #00AF52,
"lemon": #F6F918,
"rose": #F91885,
"scarlet": #F91C18,
"malibu": #69AFFB,
"pastel_pink": #FFD1E3,
"electric_violet": #701EFF,
"pumpkin": #FF8019,
"orange": #F96854,
"purple": #6441A4,
"magenta": magenta,
"bright_green": #5DFF00,
"dusty_gray": #999999,
"silver": #BFBFBF,
"mercury": #E5E5E5,
"dove_gray": #727272,
"sapphire": #344EA3);

$display-types: block, flex, inline, inline-block, grid, contents, none;

$spacing-types: center, space-between, space-evenly, space-around, flex-end, flex-start;

// ANIMATION VARIABLES

$anim-name-types:
rainbow,
blink,
fade_in,
shake,
rotate_right_360,
rotate_left_360,
slide_in_back,
slide_in_top,
slide_in_bottom,
slide_in_left,
slide_in_right,
marquee,
dance,;

$anim-timing-types: linear, ease, ease-in, ease-out, ease-in-out;

$anim-direction-types: normal, reverse, alternate, alternate-reverse;
