// SCSS VARIABLES

$namespaces: (
	"color": "--s-",
	"font": "--s-",
	"spacing": "--s-",
);

// CUSTOM VARIABLES

// COLOR VALUES

$l: left;
$r: right;
$t: top;
$b: bottom;
$pad: padding;
$mar: margin;
$w: width;
$h: height;

// GENERATOR MAPS

$padding-types: $pad $l, $pad $r, $pad $t, $pad $b;

$margin-types: $mar $l, $mar $r, $mar $t, $mar $b;

$display-types: block, flex, inline, inline-block, grid, contents, none;

$spacing-types: center, space-between, space-evenly, space-around, flex-end, flex-start;

// ANIMATION VARIABLES

$anim-name-types: rainbow, blink, fade_in, shake, rotate_right_360, rotate_left_360, slide_in_back, slide_in_top, slide_in_bottom, slide_in_left, slide_in_right, marquee, dance;

$anim-timing-types: linear, ease, ease-in, ease-out, ease-in-out;

$anim-direction-types: normal, reverse, alternate, alternate-reverse;

$border-params: width, style, color, radius;
