
/*  #######  ########        ## ########  ######  ########  ######
/* ##     ## ##     ##       ## ##       ##    ##    ##    ##    ##
/* ##     ## ##     ##       ## ##       ##          ##    ##
/* ##     ## ########        ## ######   ##          ##     ######
/* ##     ## ##     ## ##    ## ##       ##          ##          ##
/* ##     ## ##     ## ##    ## ##       ##    ##    ##    ##    ##
/*  #######  ########   ######  ########  ######     ##     ###### */

/* Container */
.con, .container {
  border: var(--border-thickness) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);
  background: #00000050;

  padding: 20px;
  margin: 5px;
}

.card {
  width: 5rem;
  padding: 10px;
  margin: 5px;
}

/* Button */
.btn, .button {
  color: var(--color-accent-1);
  background: var(--color-main-2);

  border: var(--border-thickness) var(--border-type) var(--border-color);
  border-radius: var(--border-radius);

  margin: var(--margin);
  padding: var(--padding);
  display: inline-block;
  flex: 1 1;
}
.btn:hover {
  filter: brightness(150%);
}

.btn.lg {
  width: 20px;
  height: 20px;
}
.btn.sm {
  width: 20px;
  height: 20px;
}

.btn.square {
  width: 20px;
  height: 20px;
}

/* Navbar */
z-nav {
  margin: 5px;

  a {
    background: #00000050;
    border: 1px solid rgba(1,1,1,.3);
    border-left: 0;
    padding: 10px;
    margin:0;

    &:first-of-type {
      border-left: 1px solid rgba(1,1,1,.3);
    }

    &:hover {
      background: var(--color-main-2);
    }
  }
}
