//
												// CLASS GENERATORS
//
@mixin repeat-unit-classes-map($name-map, $start, $end, $unit, $increment: 1){
	@each $slug in $name-map {
		$key: nth($slug, 1);
		$value: nth($slug, 2);

		/* #{$slug} */

		@for $i from $start through $end {
			.#{str-slice($key, 0, 1)}#{str-slice($value, 0, 1)}-#{$i * $increment} {
				#{$key}-#{$value}: increment($i, $increment, $unit);
			}
		}
	}
}

@mixin color-class-generator($name-map, $start, $end, $unit, $increment: 1){
	@each $color in $name-map {
		$col: nth($slug, 1);

		/* #{$slug} */

		@for $i from $start through $end {
			.#{str-slice($key, 0, 1)}#{str-slice($value, 0, 1)}-#{$i * $increment} {
				#{$key}-#{$value}: increment($i, $increment, $unit);
			}
		}
	}
}

// Display Class Generator
@mixin display-classes($name-map, $namespace){
	@each $type in $name-map {
		.#{$namespace}-#{$type} {
	        display: #{$type};
		}
	}
}
